.expenses-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.add-expense {
  z-index: 3;
  display: grid;
  grid-template-rows: 20px 1fr repeat(3, 80px) 1fr;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 450px;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #000, -1px -1px 15px #000;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -225px;
}
.add-expense header {
  text-align: end;
  margin-top: 20px;
  padding: 10px;
}
.add-expense header i {
  zoom: 1.5;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}
.add-expense header i:hover {
  transform: scale(1.2);
  transform: rotate(15deg);
}
.expense-input-item label {
  color: #ccc;
  font-weight: 300;
  font-size: 13px;
  margin: 5px 0 0 0;
}
.expense-input-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expense-input-item input {
  display: inline-block;
  width: 300px;
  border-radius: 5px;
  padding: 8px 5px;
  margin: 5px 0;
  color: #ccc;
  outline: none;
  border: none;
  background-color: #111;
}
.expense-input-item > div {
  width: 300px;
  text-align: start;
}
.expense-input-item input:focus {
  border: 1px solid springgreen;
}
.add-expense button {
  background-color: springgreen;
}
.add-expense button:hover {
  color: #000;
}
.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-expense input::-webkit-calendar-picker-indicator {
  background-color: springgreen;
  border-radius: 5px;
  cursor: pointer;
}
.add-expense .title {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid springgreen;
  padding: 10px 0;
}
.expsenses-list {
  display: grid;
  grid-template-rows: 1fr repeat(3, 80px) 1fr;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #333;
  margin: 1rem auto;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #000, -1px -1px 15px #000;
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-title {
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin: 5rem 0 0 0;
  padding: 2rem 0;
}
@media (max-width: 650px) {
  .add-expense {
    width: 90%;
    left: 50%;
    margin-left: -45%;
    top: 50%;
    margin-top: -300px;
  }
  .expense-input-item {
    width: 100%;
  }
  .expense-input-item input,
  .expense-input-item label {
    margin: 5px auto;
    width: 95%;
  }
  .title {
    font-size: 25px;
  }
  .expense-input-item > div {
    width: 95%;
  }
}
