.new-password-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.new-password {
  background-color: #000;
  border-radius: 5px;
  box-shadow: 1px 1px 5px springgreen, -1px -1px 5px springgreen;
  height: 400px;
  width: 40%;
}
.new-password .title h1 {
  color: #ccc;
  text-align: center;
  font-weight: 300;
}
.new-password .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.new-password .input-item .label-con {
  width: 90%;
}
.new-password div:nth-child(1) {
  margin-top: 1rem;
}
.new-password .input-item {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-password .input-item input {
  margin: 5px 0 0 0;
  border-radius: 5px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  width: 90%;
}
.new-password .btn-con {
  height: 30%;
}
.new-password .btn-con button {
  background-color: springgreen;
}
.new-password .btn-con button:hover {
  color: #000;
}
