.home {
  height: 100vh;
}
.card-con {
  padding: 3rem 0;
  height: 100%;
}
.header h1 {
  color: red;
  font-weight: 300;
}
.header {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.card-con {
  display: flex;
  justify-content: center;
}
