.home {
  height: 100vh;
}
.header h1 {
  color: red;
  font-weight: 300;
}
.header {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.card-con {
  display: flex;
  justify-content: center;
  height: 100%;
}
@media (max-width: 650px) {
  .card-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .header h1 {
    text-align: center;
    margin: 0 15px;
  }
}
