.Alerts {
  background-color: transparent;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 40%;
  max-height: 40%;
  overflow: auto;
  top: 80px;
  margin: auto;
}
.alert-item {
  width: 60%;
  margin: 1rem auto 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.alert-item h1 {
  font-weight: 300;
}
.Alerts::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.Alerts::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
@media (max-width: 800px) {
  .Alerts {
    width: 100%;
    max-width: 100%;
    top: 70px;
  }
  .alert-item {
    width: 90%;
  }
  .alert-item h1 {
    font-size: 1.4rem;
  }
}
