.password-reset-con {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.password-reset {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 3rem 0;
  background-color: #111;
  box-shadow: 2px 2px 10px #000, -2px -2px 10px #000;
  height: 400px;
  width: 50%;
  border-radius: 5px;
}
.password-reset h2 {
  border-bottom: 1px solid springgreen;
  text-align: center;
  padding: 1.5rem 0;
  width: 90%;
  height: 20%;
  margin: 1rem auto;
  color: #ccc;
  font-weight: 300;
}
.password-reset .input-item .label {
  font-weight: 100;
  color: #ccc;
}
.password-reset .input-item .label-con {
  width: 80%;
}
.password-reset .input-item {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-reset .input-item input {
  width: 80%;
  background-color: #000;
  color: #ccc;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px 0 0 0;
  outline: none;
}
.password-reset button {
  background-color: springgreen;
}
.password-reset button:hover {
  color: #000;
}
@media (max-width: 600px) {
  .password-reset {
    width: 90%;
  }
  .password-reset h2 {
    font-size: 1.4rem;
    height: 30%;
    margin: 0 auto;
  }
  .password-reset .input-item {
    margin-top: 1rem;
    height: 40%;
  }
  .password-reset .input-item .label-con {
    width: 90%;
  }
  .password-reset .input-item input {
    width: 90%;
  }
  .btn-con {
    height: 25%;
  }
}
