.summery-card-con {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.summery-card {
  height: 450px;
  width: 300px;
  background-color: #111;
  box-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
  border-radius: 10px;
}
.summery-card h2 {
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid red;
}
.summery-info {
  margin: 1rem auto;
  width: 90%;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.summery-info h3,
.date-selector h3 {
  color: #fff;
  font-weight: 300;
}
.date-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-selector input {
  background-color: #333;
  color: #ccc;
  width: 80%;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px auto;
  outline: none;
  border: none;
}
