.nav {
  position: fixed;
  top: 0;
  background-color: red;
  color: #ddd;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.links-con i {
  color: #000;
  zoom: 1.6;
  transition: all 0.2s;
  cursor: pointer;
}
.links-con i:hover {
  color: #fff;
  transform: scale(1.2);
}
.nav h1 {
  font-weight: 600;
  color: #000;
}
